.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100vw;
}
.menu {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;

}
.content {
    display: flex;
    text-align: center;
}