.App {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
}
.Menu {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    height: 10vh;

}
.Content {
    display: flex;
    text-align: center;
    height: auto;
}
.Footer{
    display: flex;
    text-align: center;
    height: 10vh;
}