.Footer{
  display: flex;
  justify-content: space-around;
  background-color: #121212;
  height: 10vh;
  width: 100%;
}
h1{
  font-family: Campton,sans-serif;
  font-weight: bolder;
  font-size: 90%;
  color: #fff;
  height: 20%;
  padding-top: 3%;
}
.ftext{
  font-size: 80%;
}
div{
  justify-content: space-around;
}