div.Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: #fff;
    text-decoration: none;
}

div.Container1{
    display: flex;
    background-color: #45BF55;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
}   

div.box1.h1{
    font-size: 250%;
}
div.box1.h2{
    font-size: 150;
}

div.box1{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

div.box2{
    display: flex;
    width: 50%;
}
div.Container2{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    background-color: #2A2C2D;

}
div.box3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 1% 5% 1%;
    text-align: justify;
}
p{
    padding: 3%;
    font-size: 70%;
}
div.fotos{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
img.home{
    height: 150px;
}
img.foto{
    height: fit-content;
}


@media only screen and (max-width: 800px){
    div.Container1{
        display: flex;
        background-color: #121212;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0%;
    }
    div.box1.headText{
        font-size: 75%;
    }
    div.box1.h{
        font-size: 10%;
    }
    div.box1{
        width: 80%;
        padding-left: 10%;
        padding-right: 0;
        text-align: left;
    }
    div.box2{
        display: flex;
        padding:0% 20% 5%;
    }
    div.box3{
        font-size: 75%;
    }
    p{
        padding: 3%;
        font-size: 50%;
    }
    div.fotos{
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
    }
    img.home{
        height: 100px;
        width: fit-content;
    }
}